solid-calculix/output
fluid-openfoam/output
fluid-openfoam/1
fluid-openfoam/0.*
fluid-openfoam/constant/polyMesh
fluid-openfoam/fluid-openfoam.foam
fluid-openfoam/precice-Fluid-iterations.log
fluid-openfoam/precice-Solid-watchpoint-Flap-Tip.log
fluid-openfoam/precice-profiling
solid-calculix/flap.12d
solid-calculix/flap.cvg
solid-calculix/flap.dat
solid-calculix/flap.frd
solid-calculix/flap.sta
solid-calculix/flap.pvd
solid-calculix/precice-Solid-convergence.log
solid-calculix/precice-Solid-iterations.log
solid-calculix/precice-Solid-watchpoint-Flap-Tip.log
solid-calculix/precice-profiling
solid-calculix/spooles.out
